@import 'base.scss';

.about-page, .tutorial-page {
  padding: 20px 40px 20px 40px;
  margin: 0 auto;
  //text-align: center;
  max-width: 1000px;

  .emph {
  	font-style: italic;
  }

  .tips {
  	font-style: italic;
  	border: 0.5px dashed grey;
  	padding: 5px;
  	border-radius: 4px;
  	color: dimgrey;
  }

  .tool-name {
  	// color: #007bff;
    //font-weight: bold;
  }

  .centered-img {
  	display: block;
	margin-left: auto;
	text-align: center;
	margin-right: auto;
	margin-bottom: 5px;
  }

  .step-img {
  	margin: auto;
  }
}