$themeColor-Light: #ffffff;
$theme-font: verdana, sans-serif;

body {
  font: $theme-font;
  background-color: $themeColor-Light;
  text-align: center;
  padding: 50px 50px 50px 50px;
}

.falx-panel {
}