@import "App";
@import "base";

$body-height: 100%;

.falx {
	position: relative;
}

#control-panel {
  height: $body-height;
}

.input-panel {
  height: $body-height;
}

.ReactTable {
  .rt-td {
    padding: 4px 3px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .rt-tbody {
    text-align: center;
  }
}

.input-panel {

  .seg-title {
    padding: 10px 30px 20px 30px;

    .title {
      float: left;
      font-weight: bold;
      display: inline-block;
      position: relative;
    }

    .title-action {
      float: right;
      display: inline-block;
      position: relative;

      .dropdown-toggle::after {
        display: none;
      }

      ul {
        list-style-type:none;
        padding:0px;
        margin:0px;
      }

      li {
        list-style-type:none;
        float:left;
        padding-left:10px;
      }
    }

    .clickable-style {
      color: #007bff;
      cursor: pointer;

      .MuiSvgIcon-root {
        font-size: 1rem;
      }
    }
  }


  .bottom-cntl {
    width: 100%;
    height: 60px;
    text-align: center;
    position: absolute;
    bottom: 0;

    .btn {
      width: 100%;
      height: 100%;
      border-radius: 0px;
      border-collapse: collapse;
    }
  }

  .input-display{
    align-items: center;
    justify-content: center;
    overflow: scroll;
    height: calc(100% - 60px); // minus synthesis botton

    .table-display {
      font-size: 13px;
      height: 34vh;
      min-height: 330px;
      margin-top: 20px;
      margin-bottom: 10px;
      overflow: scroll;
      display: block;
    }

    .element-disp {

      $ele-disp-height: 21vh;

      height: $ele-disp-height;
      min-height: 150px;
      width: 100%;

      display: flex;
      text-align: center;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      margin-bottom: 10px;

      .input-tag {
        width: 80%;
        //height: 100%;
        max-height: $ele-disp-height;
        background: white;
        border: 1px solid #d6d6d6;
        border-radius: 2px;
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        padding: 5px 5px 0;
        overflow: scroll;
      }
    }

    .chart-disp {
      height: 205px;
      width: 100%;
      display: flex;
      text-align: center;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }
}



.output-panel {
  font-style: italic;
  font-size: 20px;
  color: #afafaf;
  height: $body-height;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;


  text-align: center;

};

.editor {
  $editor-width: 100vw;
  width: $editor-width;
  max-width: 100vw;
  height: $body-height !important;
  float: left;

  .editor-plane {
    height: $body-height !important;
    position: relative !important;
  }
}



button:focus {
  outline: 0; 
}

.Resizer {
  background: #000;
  opacity: .2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: default;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

.input-tag__tags {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;

  .tag-card {
    display: block;
    height: 100%;
    font-size: 13px;

    .tag-type {
      background: #4ea4ff;
      color: white;
      min-width: 50px;
    }

    .tag-body {
      line-height: 1.3;
    }

    .tag-label {
      opacity: 0.8;
      font-weight: 200;
    }
  }
}

.input-tag__tags .tag-boxes {
  color: #007bff;
  background-color: transparent;
  align-items: center;
  cursor: pointer;

  min-width: 10px;

  border-style: solid;
  border-color: #007bff;
  border-radius: 6px;
  border-width: 0.5px;

  display: flex;
  //font-weight: 300;
  list-style: none;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px 5px 3px 5px;

  nav {
    cursor: default;
  }

  .react-contextmenu-wrapper {
    display: flex;
    height: 100%;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .MuiFormControl-marginDense {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .MuiInputBase-root {
    font-size: 10pt;
  }

  .MuiFilledInput-root {
    background-color: rgba(0, 0, 0, 0.02);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  // label {
  //   display: inline-block;
  //   //width: 40px;
  //   text-align: left;
  //   padding-right: 3px;
  //   vertical-align: middle;
  //   margin-bottom: 0;
  //   margin-top: 5px;
  // }

  .left-btn {
    float: left;
    padding: 0px 0px 0px;
  }

  .right-btn {
    float: right;
    padding: 0px 0px 0px;
  }

  .__react_component_tooltip {
    padding: 4px 8px;
    font-weight: 400;
  }

  .add-btn-menu-btn {
    padding: 0px 10px;
    margin: 0px 3px;
    font-weight: 300;
  }

  .button {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    height: 15px;
    justify-content: center;
    line-height: 0;
    margin-left: 8px;
    width: 15px;
  } 

  .add-btn {
    cursor: pointer;
    font-size: 20px;
  }
}

.input-tag__tags #add-btn-li {
  border: none;
}

.input-tag__tags li.input-tag__tags__input {
  background: none;
  flex-grow: 1;
  padding: 0;
}

.react-contextmenu {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    color: #373a3c;
    font-size: 16px;
    margin: 2px 0 0;
    //min-width: 160px;
    max-width: 300px;
    outline: none;
    opacity: 0;
    padding: 10px 0;
    pointer-events: none;
    text-align: left;
    transition: opacity 250ms ease !important;

    label {
      font-style: italic;
    }
}

.react-contextmenu.react-contextmenu--visible {
    opacity: 1;
    pointer-events: auto;
    z-index: 9999;
}

.react-contextmenu-item {
    min-height: 32px;
    background: 0 0;
    border: 0;
    color: #373a3c;
    cursor: pointer;
    font-weight: 400;
    line-height: 1;
    padding: 4px 15px;
    text-align: inherit;
    white-space: nowrap;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
    //color: #fff;
    //background-color: #91d0ff;
    //border-color: #91d0ff;
    text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
    color: #878a8c;
}

.react-contextmenu-item--divider {
    border-bottom: 1px solid rgba(0,0,0,.15);
    cursor: inherit;
    margin-bottom: 3px;
    padding: 2px 0;
}
.react-contextmenu-item--divider:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
}

.react-contextmenu-item.react-contextmenu-submenu {
  padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
    content: "▶";
    display: inline-block;
    position: absolute;
    right: 7px;
}

.example-multiple-targets::after {
    content: attr(data-count);
    display: block;
}

.element-prop-editor {
  margin-left: 5px;
  width: 80px;
  float: right;
}

::placeholder {
  font-style: italic;
  opacity: 0.3; /* Firefox */
}

.grey-message {
  width: 150px;
  height: 150px;
  font-style: italic;
  color: #afafaf;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}