@import "App";
@import "base";

$body-height: (100vh - $nav-height);

.falx {
	position: relative;
}

#control-panel {
  height: $body-height;
}

.input-panel {
  height: $body-height;
}

$btn-height: 30px;
$tbl-panel-height: 45vh;

.input-panel .cntl-btns {
  height: $btn-height;
}

.input-panel .table-display {
  height: $tbl-panel-height;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.input-panel .example-chart {
  height: calc(100% - 30px - 45vh - 5vh);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.element-disp {
  width: 100%;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.output-panel {
    height: $body-height;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  };

.editor {
  $editor-width: 100vw;
  width: $editor-width;
  max-width: 100vw;
  height: $body-height !important;
  float: left;
}

.editor-plane {
  height: $body-height !important;
}

button:focus {
  outline: 0; 
}

.Resizer {
  background: #000;
  opacity: .2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

.input-tag {
  background: white;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  padding: 5px 5px 0;
  width: 80%;
}

.input-tag__tags {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.input-tag__tags li {
  color: #007bff;
  background-color: transparent;
  align-items: center;

  border-style: solid;
  border-color: #007bff;
  border-radius: 6px;
  border-width: 0.5px;

  display: flex;
  font-weight: 300;
  list-style: none;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 3px 6px;
}

.input-tag__tags li .button {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  height: 15px;
  justify-content: center;
  line-height: 0;
  margin-left: 8px;
  width: 15px;
}

.input-tag__tags #add-btn-li {
  border: none;
}

.input-tag__tags li .add-btn {
  cursor: pointer;
  font-size: 20px;
}

.input-tag__tags li.input-tag__tags__input {
  background: none;
  flex-grow: 1;
  padding: 0;
}