@import "base";

.react-table-cell {
	padding: 3px 6px 3px 6px !important;
	cursor: pointer;
}

.react-table-cell-header {
//	font-weight: bold;
}

.react-table-cell:hover {
	background-color: rgba(0,0,0,0.05);
}

.react-table {
	max-width: 80% !important;
	margin: 0 auto;
	min-height: 240px;
	max-height: 240px;
}

.pagination {
	max-width: 80% !important;
	padding: 0.5rem;
	height: 30px;
	//width: 120px;
	display: flex;
  	justify-content: center;
  	margin: 0 auto;

    .info-span {
    	text-align: center;
    	margin: auto;
    	width: 100px;
    }

  	.pagination-btn {
  		padding: 0px;
  	}
}

.tipIcon {
	
	.MuiPopover-paper {
		padding: 4px 8px;
		font-size: 0.875rem;
		font-weight: 500;
		background-color: rgba(97, 97, 97, 0.9);
		color: white;
	}
}