.react-filter-box {
  height: 100%;
  margin-top: 10px;
  margin-bottom: 0px;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #cccccc;
  box-shadow: none; //inset 0 1px -1px rgba(0, 0, 0, 0.075);
}

.react-filter-box.focus{
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.react-filter-box.error{
  border-color: #a94442;
  outline: 0;
  box-shadow: none; //inset 0 1px -1px rgba(0,0,0,.075);
}

.react-filter-box.error.focus{
  box-shadow:  inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}

.CodeMirror, .CodeMirror-hint {
  font-family: Arial, monospace;
  font-size: 15px;
}

.vis-editor {
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 0px 10px 0px 0px;

  .raw {
    padding: 0px 16px 0 0;
    opacity: 0.9;
    font-size: 0.8em;
  }

  .invis-divider {
    margin: 16px 0px;
    height: 0px;
  }

  h6 {
    margin-bottom: 0px;
  }

  .rjsf {

    fieldset {
      border: none;
    }

    #root {
      width: 100%;
      height: 100%;
      min-width: 400px;
      max-width: 600px;
    }

  }

  .label-grid {
    text-align: center;
  }

  .paper {
    margin: auto;
  }

  .MuiInputBase-input {
    font-size: 15px;
  }

  input {
    margin-top: 9px;
  }

  .MuiInputBase-input.Mui-disabled {
    color: black;
    border: none;
  }

  .MuiInput-underline.Mui-disabled:before {
    border: none;
  }
  
}